/*
Colors: #ffd200; #07afce; #025f70; #da8587; #f5f5f5; #dfdfdf; #364f6b;
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  background: #364f6b;
}

/* To Do List Inputs */
.container {
  padding: 20px;
  width: 350px;
  margin: 0 auto;
  margin-top: 40px;
  background: #dfdfdf;
  border-radius: 5px;
  border-top: 4px solid #ffd200;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.8em;
}

form {
  display: inline-block;
}

input {
  padding: 4px 15px 4px 5px;
  border-radius: 5px;
  border: 2px solid #025f70;
  background-color: #f5f5f5;
}

#input:focus {
  border: none;
  outline: 2px solid #07afce;
}

#button {
  display: inline-block;
  background-color: #025f70;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}

#button:hover {
  cursor: pointer;
  opacity: .7;
}

/* Created To Dos */
ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
  text-align: left;
}

ol li:nth-child(even) {
  background: #bfbfbf;
}

.strike {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}
